h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 20px;
    padding: 50px;
    background-color: maroon;
}

/*This is homepage file.*/

#homepage p{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 100px;
    
}
#quote:hover{
    color: red;
}
#quote::after{
    content: "\21d2 Joseph Campbell";
    font-weight: bold;
}
#gridlayout{
    display: grid;
    grid-template-columns: auto;
}
@media print{
    img{
        display: none;
    }
}
@media (max-width: 500px){
    img{
        margin-left: 60px;
    }
    p{
        text-align: center;
    }
}